// palete
$blue-navy: #083256 !default;
$blue-light: #79A5BE !default;
$gray: #889398 !default;

// structure
$color-primary: $blue-navy !default;
$color-secondary: $gray !default;

$color-link: $blue-light !default;
