$base-font-family: Helvetica, Verdana, sans-serif;

$base-font-size: 16px !default;
$base-line-height: 24px !default;

$h1-font-size: 2.3    * $base-font-size !default;
$h2-font-size: 1.3  * $base-font-size !default;
$h3-font-size: 1.07 * $base-font-size !default;

