@import '../../theme/variables/variables';
@import '../../theme/breakpoints/mixins';

:host {
  display: block;
    padding-top: $base-line-height * 1.5;
  @include respond-up(sm){
    padding-top: $base-line-height * 3.5;
  }
}
