@import './variables';
@mixin respond-up($size) {
  @if($size == xs){
    @media only screen and (min-width: $screen-xs) {
      @content;
    }
  }
  @else if($size == sm){
    @media only screen and (min-width: $screen-sm) {
      @content;
    }
  }
  @else if($size == md){
    @media only screen and (min-width: $screen-md) {
      @content;
    }
  }
  @else if($size == lg){
    @media only screen and (min-width: $screen-lg) {
      @content;
    }
  }
  @else if($size == xl){
    @media only screen and (min-width: $screen-xl) {
      @content;
    }
  }
}
