<article class="app-team">
  <h1 class="app-team__header">{{title$ | async}}</h1>
  <div class="app-team__content">
    <ul *ngFor="let card of specialistsCards$ | async" class="app-team__member-container">
      <li class="app-tem__member-list-item">
        <app-specialist-card [card]="card"></app-specialist-card>
      </li>
    </ul>
  </div>
</article>
