@import "../../../../theme/variables/variables";
@import "../../../../theme/breakpoints/mixins";

:host {
  width: 100%;
  display: block;

  .specialist-card__picture {
    display: block;
  }

  .specialist-card__picture-container {
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .specialist-card__info-container {
    padding: 30px;
  }

  .specialist-card__item {
    font-size: $base-font-size;
    display: inline-block;
    width: 100%;
    margin-bottom: 4px;

  }
  .specialist-card__name {
    font-size: $h3-font-size;
    color: $color-primary;
    font-weight: bold;
  }

  .specialist-card__position{
    color: $color-secondary;
    margin-bottom: $base-line-height;
  }

  .specialist-card__phone{
    color: $color-secondary;
  }
}
